body{
    margin: 0;
    padding: 0;
    background-color: black;
}

#container{
    width: 80%;
    margin: auto;
}
.grid-scroll {
    margin:  auto;
    columns: 5;
    column-gap: 2.5%;
    background-color: black;
  }
  .grid-scroll div {
    width: 100%;
    margin-bottom: 8%;
    break-inside: avoid;
    border-radius: 8px;
  }
  .grid-scroll > div > img {
    width: 100%;
    border-radius: 8px;
  }
  